 <span *ngIf="!isRecording && !isTimer">
 <button type="button" (click)="toggleRecording()" class="btn btn-default">Record <span class="glyphicon glyphicon-record" style="color: red"></span></button>
 </span>
 <span *ngIf="isRecording && !isTimer">
 <button type="button" (click)="toggleRecording()" class="btn btn-default rec">Recording..<span class="glyphicon glyphicon-record" style="color: red"></span></button>
 </span>
 <span *ngIf="isTimer">
 <button type="button" (click)="toggleRecording()" class="btn btn-default"><b>Starts In : <span class="numberCircle">{{count}}</span></b></button>
 </span>