 <span *ngIf="!isRecording && !isTimer">
 <button type="button" (click)="toggleRecording()" class="btn btn-default">Record <span class="glyphicon glyphicon-record" style="color: red"></span></button>
 </span>
 <span *ngIf="isRecording && !isTimer">
 <button type="button" (click)="toggleRecording()" class="btn btn-default rec">Recording..<span class="glyphicon glyphicon-record" style="color: red"></span></button>
 </span>
 <span *ngIf="isTimer">
 <button type="button" (click)="toggleRecording()" class="btn btn-default">Starts In : <span class="glyphicon glyphicon-time" style="color: red">{{count}}</span></button>
 </span>