<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-4">
      <label></label><br>
      <button class="btn btn-default" type="submit" (click)="addNewAlpha()" >Add Alphabet
        <span class="glyphicon glyphicon-plus" style="color: green"></span></button>
    </div>

    <div *ngIf="myAlphabet">

      <form #f="ngForm" (ngSubmit)="save(f)">
        <div class="col-xs-2">
          <label>Alphabet</label>
          <input type="text" placeholder="Alphabet" class="form-control" required  name="alphabet" ngModel>
        </div>
        <!--<div class="col-xs-4">-->
        <!--<label>Sound</label><br>-->
        <!--<button class="btn btn-default" style="border-radius:20px 0px 0px 20px  ">-->
        <!--Upload <span class="glyphicon glyphicon-upload" style="color: green"></span>-->
        <!--</button>-->
        <!--<button class="btn btn-default">Record <span class="glyphicon glyphicon-record" style="color: red"></span>-->
        <!--</button>-->
        <!--<button class="btn btn-default" style="border-radius:0px 20px 20px 0px ;cursor:pointer;color:deepskyblue "><span-->
        <!--class="glyphicon glyphicon-play"></span></button>-->
        <!--</div>-->
        <!--<div class="col-xs-4">-->
        <!--<label>Pronunciation</label><br>-->
        <!--<button class="btn btn-default" style="border-radius:20px 0px 0px 20px  ">-->
        <!--Upload-->
        <!--<span class="glyphicon glyphicon-upload" style="color: green"></span></button>-->
        <!--<button class="btn btn-default">-->
        <!--Record <span class="glyphicon glyphicon-record" style="color: red"></span>-->
        <!--</button>-->
        <!--<button class="btn btn-default" style="border-radius:0px 20px 20px 0px ;cursor:pointer;color:deepskyblue ">-->
        <!--<span class="glyphicon glyphicon-play"></span>-->
        <!--</button>-->
        <!--</div>-->

      </form>
    </div>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">

    <!--<form (ngSubmit)="editAlphRow(editAlphabet.value)" #editAlphabet="ngForm">-->
    <form (ngSubmit)="editAlphRow()" #editAlphabet="ngForm">

      <table class="table table-striped table-style table-responsive">
        <tr>
          <th><span class="glyphicon glyphicon-flash" style="color: #ff36ed"></span></th>
          <th>Alphabet </th>
          <th>Sound <span class="glyphicon glyphicon-volume-up" style="color: #ff36ed"></span></th>
          <th>Pronunciation <span class="glyphicon glyphicon-volume-down" style="color: #ff36ed"></span></th>
        </tr>
        <tbody [dragula]='"alphabet-drag"' >
        <tr *ngFor="let alphab of alphabets$ | async ; let i = index ">

          <td>
            <!--<span hidden>{{i+1}}</span>-->
            <span *ngIf="editAlpha!== i "
                  (click)="editAlph(i)"
                  class="glyphicon glyphicon-pencil" style="color: green; cursor: pointer"></span>
            <button class="btn btn-default" type="submit" *ngIf="editAlpha=== i" style="border-radius: 60px">
            <span class="glyphicon glyphicon-save"
                  style="color: green; size: 1px; cursor: pointer"> </span>

            </button>
            <button class="btn btn-default" type="button" (click)="deleteAlphRow(alphab.alphabet)"
                     style="border-radius: 60px">
            <span class="glyphicon glyphicon-trash"
                  style="color: red; size: 1px; cursor: pointer"> </span>

            </button>
          </td>
          <input *ngIf="editAlpha=== i" type="hidden" name="key" ngModel="{{ alphab.alphabet }}"/>
          <input *ngIf="editAlpha=== i" type="hidden" name="sound" [(ngModel)]="alphab.sound" />
          <input *ngIf="editAlpha=== i" type="hidden" name="pronunciation" [(ngModel)]="alphab.pronunciation" />
          <td hidden>{{i+1}}</td>
          <td hidden>{{alphab.alphabet}}</td>
          <td class="col-xs-2">

            <p *ngIf="editAlpha!== i">{{alphab.alphabet}}</p>
            <input type="text" name="alphabetName" ngModel="{{alphab.alphabet}}"
                   *ngIf="editAlpha=== i" class="form-control" />

            <!--{{alphabet.alphabet}}-->
          </td>
          <td>
            <app-upload-form [filedata]="{'objectname':alphab.alphabet,

            'componentname':'alphabet','courseId':alphabet$Key,'uploadFor':'sound'}" >
            </app-upload-form>
            <app-record-audio [filedata]="{'objectname':alphab.alphabet,
              'componentname':'alphabet','courseId':alphabet$Key,'uploadFor':'sound'}" >
            </app-record-audio>

            <app-play [filedata]="{'indexno': i,'source': alphab.sound,'playfor':'sound'}"></app-play>
            <!--<button class="btn btn-default" type="button"-->
                    <!--onclick="document.getElementById('alpha-sounds').play()"-->

                    <!--style="border-radius:0px 20px 20px 0px ;cursor:pointer;color:deepskyblue ">-->
             <!--<span-->
               <!--class="glyphicon glyphicon-play" ></span>-->
            <!--</button>-->
            <!--<audio controls="controls" id="alpha-sounds" hidden >-->
              <!--<source src="{{alphab.sound}}" type="audio/mp3">-->
            <!--</audio>-->
            <!--{{alphabet.sound}}-->
          </td>

          <td>
            <!--<label>Sound</label><br>-->
            <app-upload-form [filedata]="{'objectname':alphab.alphabet,
          'componentname':'alphabet','courseId':alphabet$Key,'uploadFor':'pronunciation'}">

            </app-upload-form>

            <app-record-audio [filedata]="{'objectname':alphab.alphabet,
              'componentname':'alphabet','courseId':alphabet$Key,'uploadFor':'pronunciation'}" >
            </app-record-audio>

            <app-play [filedata]="{'indexno': i,'source': alphab.pronunciation,'playfor':'pronunciation'}"></app-play>
            </td>
        </tr>
        </tbody>

      </table>

    </form>


    <div class="col-xs-3"></div>
  </div>
</div>
<hr>


