
  <!--<label>-->
    <!--<input type="file" class="button" (change)="detectFiles($event)">-->
  <!--</label>-->

  <!--<button class="button is-primary"-->
          <!--[disabled]="!selectedFiles"-->
          <!--(click)="uploadSingle()">-->

    <!--Upload Single-->
  <!--</button>-->


<!--<button class="btn btn-default" style="border-radius:20px 0px 0px 20px"-->
        <!--(click)="uploadSingle()"-->
        <!--(change)="detectFiles($event)"-->
<!--&gt;-->
  <!--Upload <span class="glyphicon glyphicon-upload" style="color: green"></span>-->
<!--</button>-->
      <span id="fileselector">
        <label class="btn btn-default" for="upload-file-selector" style="border-radius:20px 20px 20px 20px">
          <input id="upload-file-selector" type="file" (change)="detectFiles($event,filedata)">
          Upload <span class="glyphicon glyphicon-upload" style="color: green"></span>
        </label>
      </span>
