<div class="row">

  <div class="col-xs-5"></div>
  <div class="col-xs-2" style="align-items: center">
  <!--<div>-->
    <!--{{answer}}-->
  <!--</div>-->
  <app-play-quiz *ngIf="(alphabet$ | async)?.sound" [filedata]="{'source': (alphabet$ | async)?.sound}"></app-play-quiz>
  </div>
  <div class="col-xs-5"></div>
</div>


  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">

  <div>
    <button [@AnimatedStyle] class="btn btn-default" type="button" (click)="checkAnswer(choices[0])"
            id="alphaQuizOptionButton1">
      {{choices[0]}}
    </button>
    <button [@AnimatedStyle] class="btn btn-default" type="button" (click)="checkAnswer(choices[1])"
            id="alphaQuizOptionButton2">
      {{choices[1]}}
    </button>
  </div>
  <div>
    <button [@AnimatedStyle] class="btn btn-default" type="button" (click)="checkAnswer(choices[2])"
            id="alphaQuizOptionButton3">
      {{choices[2]}}
    </button>
    <button [@AnimatedStyle] class="btn btn-default" type="button" (click)="checkAnswer(choices[3])"
            id="alphaQuizOptionButton4">
      {{choices[3]}}
    </button>
  </div>
    </div>

    <div class="col-xs-2"></div>
</div>

