#alphaQuizOptionButton1{
  height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}
#alphaQuizOptionButton2{
  height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}

#alphaQuizOptionButton3{
  height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}

#alphaQuizOptionButton4{
  height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}

