#wordQuizOptionButton1{
 height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}
#wordQuizOptionButton2{
  height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}

#wordQuizOptionButton3{
  height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}

#wordQuizOptionButton4{
  height: 50px; width: 300px; border-radius: 10px;
  margin-top: 5px;
}

img{border:0;}
