<div class="row list_of_courseLesson_headline">
	<div class="col-sm-6 col-xs-12">
 		<h4><span style="font-size:16px;">Course Name:</span> English</h4>
 	</div>
 	<div class="col-sm-6 col-xs-12 take_course_button" *ngIf="!authInfo?.isLoggedIn()">
 		<button class="btn btn-danger" routerLink="/login">Login To Take The Course</button>
 	</div>
 	<div class="col-sm-6 col-xs-12 take_course_button" *ngIf="authInfo?.isLoggedIn() && true">
 		<button class="btn btn-danger">Take The Course</button>
 	</div>
</div>
<div class="row courseLesson_container">
	<div class="col-xs-12 col-sm-6 col-lg-3"  *ngFor="let courseLesson of courseLessons">
		<div class="list_of_courseLesson" [class.unsubscribed_lessons]="!authInfo?.isLoggedIn() || (authInfo?.isLoggedIn()&& true)">
			<a>
				<img class="img-responsive" [src]="courseLesson.image" />
			</a>
			<div class="courseLesson_details">
				<h3>{{courseLesson.name}}</h3>
				<span class="course_lessons_count">{{courseLesson.order}}</span>
			</div>
		</div>
	</div>
</div>	