<form autocomplete="off" novalidate class="login-form" [formGroup]="form">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Using Google:</label>
    <div class="col-sm-10">
      <button class="btn btn-primary" (click)="loginUsingGoogle('google')">Google</button>
    </div>
  </div>


  <legend>Login</legend>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input name="email" class="form-control" formControlName="email" placeholder="Email">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input name="password" class="form-control" type="Password" formControlName="password" placeholder="Password">
    </div>
  </div>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
  </div>



</form>
