<hr />
<div class="row">
  <div class="col-xs-12">
    Lesson Words
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <form (ngSubmit)="updateLessonWord()" #lwEdit="ngForm">
<table class="table table-striped">
  <thead>
  <tr>
    <th><span class="glyphicon glyphicon-refresh"></span></th>
    <th>Words</th>
  </tr>
  </thead>
  <tbody>

    <tr *ngFor="let lessonWord of lesonWord$ | async; let lwIndex=index ">
      <td>
        <span *ngIf="lwEditFlag!==lwIndex" (click)="editLessonWord(lwIndex)" class="glyphicon glyphicon-pencil"></span>
        <button type="submit" *ngIf="lwEditFlag===lwIndex" class="glyphicon glyphicon-save"></button>
        <input *ngIf="lwEditFlag===lwIndex" type="hidden" name="lessonWord" [ngModel]="lessonWord.lessonItem" />
        {{lessonWord.lessonItem}}
      </td>
      <td>
        <p *ngIf="lwEditFlag!==lwIndex">{{lessonWord.item}}</p>
      <input *ngIf="lwEditFlag===lwIndex" type="text" class="form-control" name="item" placeholder="Enter Word" [ngModel]="lessonWord.item" />
      </td>
    </tr>

  </tbody>
</table>
</form>
</div>
</div>


<div class="row" *ngIf="lwInsertFlag">
  <div class="col-xs-12">
    <form (ngSubmit)="submitLW()" #lw="ngForm">        
        <div class="row">
          <div class="col-xs-4">
            <label>Enter Word:</label>
            <input class="form-control" type="text" placeholder="Word" ngModel name="word" required #lessonItem>
          </div>
          <div class="col-xs-4"><label>&nbsp;</label><button type="submit" class="btn btn-primary">Save</button></div>
        </div>
        <input type="hidden" name="lessonWord" [ngModel]="lessonItem.lessonItem" />
    </form>
  </div>
</div>
<button type="button" *ngIf="!lwInsertFlag" class="btn btn-primary" (click)="addWord()">Add</button>

<br /><br />
