<form [formGroup]="editform" (ngSubmit)="oneditData(editform.value)">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th></th>
        <th>Word</th>
        <th>Meaning</th>
        <th>Pronunciation</th>
        <th>Picture</th>
        <th>Refer</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let worditem of words$ | async; let i=index ">
      <tr>
      <td>
      <button class="btn btn-danger" type="button" (click)="onDelete(worditem.word,i)"><span class="glyphicon glyphicon-trash" title="Delete"></span></button>
      <button class="btn btn-primary" type="button" *ngIf="show!==i" (click)="showitem(worditem,i)"><span class="glyphicon glyphicon-pencil" title="Edit"></span></button>
      <button class="btn btn-primary" type="submit" *ngIf="show===i"><span class="glyphicon glyphicon-saved" title="Save"></span></button>
      </td>
        <td>
          <p *ngIf="show!==i">{{worditem.word}}</p>
          <p *ngIf="show===i"><input type="text" placeholder="Enter Word" class="form-control" name="word" formControlName="word"></p>
          <p *ngIf="show===i"><input type="hidden" name="key" formControlName="key"></p>
        </td>
        <td>
          <p *ngIf="show!==i">{{worditem.meaning}}</p>
          <p *ngIf="show===i"><input type="text" placeholder="meaning" class="form-control" name="meaning" formControlName="meaning" ></p>
          <td>
            <app-upload-form [filedata]="{'objectname': worditem.word,'componentname':'word','courseId': word$Key,'uploadFor':'pronunciation'}"></app-upload-form>
            <app-record-audio [filedata]="{'objectname': worditem.word,'componentname':'word','courseId': word$Key,'uploadFor':'pronunciation'}"></app-record-audio>
            <!-- <app-play [filedataplay]="worditem"></app-play> -->
            <button type="button" class="btn btn-default" style="border-radius:0px 20px 20px 0px ;cursor:pointer;color:deepskyblue "><span class="glyphicon glyphicon-play"></span></button>
          </td>
          <td>
          <app-upload-form [filedata]="{'objectname': worditem.word,'componentname':'word','courseId':word$Key,'uploadFor':'image'}"></app-upload-form>
          </td>
          <td>
            <p *ngIf="show!==i">{{worditem.ref}}</p>
            <p *ngIf="show===i"><textarea type="text" placeholder="Reference" class="form-control" name="ref" formControlName="ref" ></textarea></p>
        </tr>
        <tr *ngIf="show===i">
          <td colspan="5">
            <div class="col-md-12 col-md-offset-1" formArrayName="phoneticdata" style="margin-top: 10px;">
              <div class="row" *ngFor="let editctrl of editform.get('phoneticdata').controls; let ip=index " [formGroupName]="ip" style="margin-bottom: 10px;">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" formControlName="alphabet" placeholder="Enter phonetics">
                </div>
                <div class="col-md-3">
                  <select class='form-control' formControlName="phonetic">
                    <option value="">---select---</option>
                    <option [ngValue]="category" *ngFor="let category of (phoneticsSelection$ | async)">{{category}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-danger" type="button" (click)="onDeleteEdit(ip)"><span class="glyphicon glyphicon-trash" title="Delete"></span></button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div>
                  <div class="col-md-10">
                  </div>
                  <div class="col-md-2">
                    <!-- <button type="submit" class="btn btn-info">Save</button> -->
                    <button type="button" class="btn btn-info" (click)="onAddEdit()" title="Add Phonetic"><span class="glyphicon glyphicon-plus-sign"></span></button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </ng-container>
      </tbody>
    </table>
  </form>
  <div *ngIf="chkflag">
    <hr>
    <form [formGroup]="wordform" (ngSubmit)="onSubmitData(wordform.value)">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <label>Word</label>
            <input type="text" placeholder="Enter Word" class="form-control" name="word" formControlName="word" >
          </div>
          <div class="col-md-4">
            <label>Meaning</label>
            <input type="text" placeholder="meaning" class="form-control" name="meaning" formControlName="meaning" >
          </div>
          <div class="col-md-4">
            <label>Ref</label>
            <textarea type="text" placeholder="Reference" class="form-control" name="ref" formControlName="ref" ></textarea>
          </div>
        </div>
        <div class="col-md-12 col-md-offset-1" formArrayName="phonetics" style="margin-top: 10px;">
          <div class="row" *ngFor="let ingredientctrl of wordform.get('phonetics').controls; let ai=index" [formGroupName]="ai" style="margin-bottom: 10px;">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" formControlName="alphabet" placeholder="Enter phonetics">
            </div>
            <div class="col-md-3">
              <select class='form-control' ngModel formControlName="phonetic">
                <option value="">---select---</option>
                <option [ngValue]="category" *ngFor="let category of (phoneticsSelection$ | async)">{{category}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger" type="button" (click)="onDeleteold(ai)"><span class="glyphicon glyphicon-trash" title="Delete"></span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button type="button" class="btn btn-info pull-left" (click)="onAddnew()" title="Add Phonetics"><span class="glyphicon glyphicon-plus-sign"></span></button>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success pull-left" *ngIf="chkflag" [disabled]="!wordform.valid">Save Data</button>
    </form>
  </div>
  <button type="button" class="btn btn-success pull-left" *ngIf="!chkflag" (click)="addnew()">Add New</button>
