<span>
	<button class="btn btn-default"
	(click)="document.getElementById('alpha-sounds').play()"
	style="border-radius:0px 20px 20px 0px ;cursor:pointer;color:deepskyblue ">
	<span
	class="glyphicon glyphicon-play" ></span>
	</button>
	<audio controls="controls" id="alpha-sounds" hidden >
		<source src="{{alphabet.source}}" type="audio/mp3">
	</audio>
</span>
<!-- <span *ngIf="filedata.source=='pronunciation'">
	<button class="btn btn-default"
	(click)="document.getElementById('alpha-sounds'+filedata.source).play()"
	style="border-radius:0px 20px 20px 0px ;cursor:pointer;color:deepskyblue ">
	<span
	class="glyphicon glyphicon-play" ></span>
	</button>
	<audio controls="controls" id="alpha-sounds{{filedata.source}}" hidden >
		<source src="{{alphabet.source}}" type="audio/mp3">
	</audio>
</span> -->