


<div class="row">
  <div class="col-xs-12">
<form (ngSubmit)="updateLesson()" #lessonEdit="ngForm">
<!-- <form [formGroup]="editform" (ngSubmit)="updateLesson(editform.value)"> -->
<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th><span class="glyphicon glyphicon-refresh"></span></th>
    <th>Name</th>
    <th>Teach</th>
    <th>Focus</th>
    <th>Select</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let lesson of lessons$ | async; let lIndex = index ">
    <td>
      <span *ngIf="editFlag!==lIndex" (click)="editLesson(lIndex)" class="glyphicon glyphicon-pencil"></span>
      <button type="submit" *ngIf="editFlag===lIndex" class="glyphicon glyphicon-save"></button>
    </td>
    <td>
      <p *ngIf="editFlag!==lIndex">{{lesson.name}}</p>
      <input *ngIf="editFlag===lIndex" type="text" class="form-control" name="name" placeholder="Enter Lesson" [ngModel]="lesson.name" />
    </td>

    <td>
      <p *ngIf="editFlag!==lIndex">{{lesson.teach}}</p>
      <input type="text" *ngIf="editFlag===lIndex" name="teach" class="form-control" [ngModel]="lesson.teach" />
    </td>

    <td>
      <div *ngIf="lesson.teach==='words'">
        <div *ngIf="editFlag!==lIndex">fr, ui, ts</div>
        <div *ngIf="editFlag===lIndex">
          <select name="phonetic" class="form-control" ngModel>
            <option [ngValue]="category" *ngFor="let category of (phoneticsSelection$ | async)">{{category}}</option>
          </select>
        </div>
      </div>
    </td>

    <td>
      <a [routerLink]="['language-word']"><span class="glyphicon glyphicon-circle-arrow-right blue fontSize24"></span></a>
    </td>

  </tr>
  </tbody>

</table>
  </form>
</div>
</div>


<div class="row" *ngIf="insertFlag">
  <div class="col-xs-12">
    <form id="lessonForm" (ngSubmit)="submitLesson()" #lf="ngForm">
        <div class="row">
          <div class="col-xs-4">
            <label>Lesson Name:</label>
            <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
            <input class="form-control" type="text" id="lessonName" placeholder="Name" ngModel name="name" required #lesson>
          </div>

          <div class="col-xs-4">
            <label>Teach: </label>
            <select class="form-control" name="teach" id="lessonTeach" ngModel required (change)="teachDropDownChanged($event.target.value)">
              <option value="">--Select--</option>
              <option value="alphabets">Alphabets</option>
              <option value="words">Words</option>
            </select>
          </div>

          <div *ngIf="teachSelect=== 'words'" class="col-xs-4">
            <label>Phonetics: </label>
            <select class="form-control" name="phonetic" id="lessonPhonetics" ngModel required>
              <option value="">--Select--</option>
              <option [ngValue]="category" *ngFor="let category of (phoneticsSelection$ | async)">{{category}}</option>
            </select>
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

<button type="button" *ngIf="!insertFlag" class="btn btn-primary" (click)="addLesson()">Add</button>
<br />

<router-outlet></router-outlet>

