<nav class="navbar navbar-default header" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand header_logo" routerLink="">Chimple Learning</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
     <!--  <li>
        <a routerLink="courses" routerLinkActive="active">COURSES</a>
      </li> -->
      <li class="login">
        <a routerLink="login" routerLinkActive="active" *ngIf="!authInfo?.isLoggedIn()">LOGIN</a>
      </li>
      <!-- REGISTER button is comented because currently we are not using custom login/register -->
     <!--  <li class="register">
        <a routerLink="register" routerLinkActive="active" *ngIf="!authInfo?.isLoggedIn()">REGISTER</a>
      </li> -->
      <li class="user_image" *ngIf="authInfo?.getUser()?.photoURL">
        <img class="img-circle" [src]="authInfo?.getUser()?.photoURL" />
      </li>
      <li class="user_details" *ngIf="authInfo?.getUser()">
        <span class="header-dropdown-arrow" (click)="showUserInfo()"></span>
        <ul class="header-user-profile"[class.is-active]="isCollapsedContent">
          <li><span class="glyphicon glyphicon-user"></span> &nbsp; Hi,
              <b>{{authInfo?.getUser()?.displayName}}</b>
          </li>
          <li routerLink="registerCourse"><span class="glyphicon glyphicon-edit"></span> &nbsp; Create a course</li>
          <li><span class="glyphicon glyphicon-log-out"></span> &nbsp;
              <a (click)="logout()" class="logout">Logout</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="user_course_image" *ngIf="authInfo?.getUser()">
        <span class="glyphicon glyphicon-pencil"></span>
      </li>
      <li class="user_course_details" *ngIf="authInfo?.getUser()">
        <span class="header-dropdown-arrow" (click)="showUserCourses()"></span>
        <ul class="header-user-course-list"[class.is-active]="isCollapsedCourses">
          <li><span class="glyphicon glyphicon-expand"></span> &nbsp;
              <a><b>Spanish</b></a>
          </li>
          <li><span class="glyphicon glyphicon-edit"></span> &nbsp; <a routerLink="home">Add course</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
