<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Chimple Learning</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="courses" routerLinkActive="active">COURSES</a>
      </li>
      <li>
        <a routerLink="login" routerLinkActive="active" *ngIf="!authInfo?.isLoggedIn()">LOGIN</a>
      </li>
      <li>
        <a routerLink="register" routerLinkActive="active" *ngIf="!authInfo?.isLoggedIn()">REGISTER</a>
      </li>
      <li>
        <a (click)="logout()" *ngIf="authInfo?.isLoggedIn()">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
