.login a,.register a,.logout a,.header_logo{
	color: white !important;
	font-family: cursive;
}

.header{
	background:rgba(15, 90, 206, 0.67);
}
.login a:hover,.register a:hover,.logout a:hover{
	background-color: rgba(78, 78, 84, 0.17);
}
.user_image img,.user_course_image img{
	width: 40px;
	height: 40px;
}
.user_course_image{
    color: #f7430b;
}

.header-dropdown-arrow {
    background-image: url(https://d2rhekw5qr4gcj.cloudfront.net/img/icons/sprites_profile_dropdown.v1.png);
    width: 20px;
    height: 20px;
    background-position: -60px 0px;
    background-size: 80px 20px;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    display: block;
    margin: auto;
}
.header ul{
	margin-right: 25px;
}

.user_details,.user_course_details{
	margin-top: 20%;
}

.header-user-profile,.header-user-course-list {
    border-radius: 6px;
    transition: all 300ms cubic-bezier(0.19, 0.33, 0.45, 1.26);
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    font-family: "Open Sans",Sans-Serif;
    position: absolute;
    width: 220px;
    right: -15px;
    top: 40px;
    border-top-width: 0;
    padding: 12px;
    box-sizing: border-box;
    background: #fff;
    display: none;
}

.header-user-profile.is-active,.header-user-course-list.is-active {
    -webkit-transform-origin: 220px -180px;
    transform-origin: 220px -180px;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 3px 16px 0px rgba(0,0,0,0.26);
    margin-top: 0px;
    display: block;
    z-index: 1;
}

.header-user-profile:after,.header-user-course-list:after {
    background-image: url(https://d2rhekw5qr4gcj.cloudfront.net/img/icons/profile-tooltip-arrow.png);
    background-size: 14px 8px;
    content: "";
    position: absolute;
    right: 22px;
    top: -8px;
    height: 8px;
    width: 14px;
}

.header-user-profile li,.header-user-course-list li{
	list-style-type: none;
	padding: 5px;
	font-family: inherit;
}
.logout{
	color: black;
}

.header .navbar-nav {
    /* margin: 7.5px -15px; */
    float: right !important;
    margin:0px;
    margin-right: 25px !important;
}

.header .col-xs-7{
    padding: 0px !important;
}

@media only screen and (max-width : 505px) {
    .header_logo {
        margin-top: 11px;
        padding: 0px;
    }
}