
<md-tab-group>
  <md-tab label="Tab 1">Alphabet</md-tab>
  <md-tab label="Tab 2">Phenatic</md-tab>
  <md-tab label="Tab 3">Words</md-tab>
  <md-tab label="Tab 4">Lessons</md-tab>
</md-tab-group>

<!-- <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th sortable="code" class="sortable mdl-data-table__cell--non-numeric">
                <span>Name</span>
            </th>
            <th class="st-sort-disable th-dropdown">
                <span>Teach</span>
            </th>
            <th sortable="placed" class="sortable">
                <span>Focus</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr grid-item>
            <td class="mdl-data-table__cell--non-numeric">
                <span ng-bind="item.code"></span>
            </td>
            <td ng-bind="item.statusDisplay"></td>
            <td ng-bind="item.placed | date:'MM/dd/yyyy'"></td>
            <td ng-bind="item.total.formattedValue"></td>
        </tr>
    </tbody>
</table> -->

<button (click)="someMethod()">Click</button>
<br /><br />
<button md-button [mdMenuTriggerFor]="appMenu" >Menu</button>
<md-menu #appMenu="mdMenu">
    <button md-menu-item><md-icon> dialpad </md-icon><span> Redial </span></button>
    <button md-menu-item disabled>
    <md-icon> voicemail </md-icon>
    <span> Check voicemail </span>
  </button>
  <button md-menu-item>
    <md-icon> notifications_off </md-icon>
    <span> Disable alerts </span>
  </button>
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>