<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active" routerLink="testNotTaken" ><a >Alphabet</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="testInProgress" ><a >Phonetics</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="testInProgress" ><a >Words</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="testInProgress" ><a >Lessons</a></li>
</ul>




<!-- <md-tab-group>
  <md-tab label="Alphabet" routerLinkActive="active" routerLink="testNotTaken" ></md-tab>
  <md-tab label="Phenatic" routerLinkActive="active" routerLink="testNotTaken"></md-tab>
  <md-tab label="Words" routerLinkActive="active" routerLink="testNotTaken"></md-tab>
  <md-tab label="Lessons" routerLinkActive="active" routerLink="testNotTaken"></md-tab>
</md-tab-group> -->

<router-outlet></router-outlet>