<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active" routerLink="alphabet" style="cursor: pointer" ><a >Alphabet</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="phonetics" style="cursor: pointer"><a >Phonetics</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="words" style="cursor: pointer"><a >Words</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="lessons" style="cursor: pointer"><a >Lessons</a></li>
</ul>



<!-- <md-tab-group>
  <md-tab label="Alphabet" routerLinkActive="active" routerLink="alphabet" ></md-tab>
  <md-tab label="Phenatic" routerLinkActive="active" routerLink="phenatic"></md-tab>
  <md-tab label="Words" routerLinkActive="active" routerLink="words"></md-tab>
  <md-tab label="Lessons" routerLinkActive="active" routerLink="lessons"></md-tab>
</md-tab-group> -->

<router-outlet></router-outlet>
