<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active" routerLink="alphabet" ><a >Alphabet</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="phenatic" ><a >Phenatic</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="words" ><a >Words</a></li>
  <li role="presentation"  routerLinkActive="active" routerLink="lessons" ><a >Lessons</a></li>
</ul>



<!-- <md-tab-group>
  <md-tab label="Alphabet" routerLinkActive="active" routerLink="alphabet" ></md-tab>
  <md-tab label="Phenatic" routerLinkActive="active" routerLink="phenatic"></md-tab>
  <md-tab label="Words" routerLinkActive="active" routerLink="words"></md-tab>
  <md-tab label="Lessons" routerLinkActive="active" routerLink="lessons"></md-tab>
</md-tab-group> -->

<router-outlet></router-outlet>